
.commentBox {
  margin: 30px auto 0;
  background-color: rgba(48, 51, 63, 0.49);
  min-height: 80px;
  max-height: 500px;
  min-width: 300px;
  max-width: 60%;
  border-radius: 16px;
  padding: 8px;
  border: 1px solid wheat;

  span {
    color: whitesmoke;
  }
}