
.settingsContainer {
  position: relative;
}

.toBack {
  position: absolute;
  top: 0;
  left: 20px;

  span {
    padding: 4px;
    color: #094b4d;
    font-weight: 500;
    font-size: 17px;
  }
}

.setting {
  min-height: 320px;
  max-height: 500px;
  min-width: 300px;
  max-width: 60%;
  margin: 30px auto;
}